
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.search-input {
  width: 30%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background: white;
  color: #4a4a4a;
}

.btn-primary {
  background: #fd0;
  color: #0f265c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.section {
  flex: 1;
  text-align: left;
  color: #6c757d;
  padding: 5px;
}

.section-actions {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #6c757d;
  background: #f9fafc;
}

.results {
  font-weight: 500;
}

.select-pages {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.select-box {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  background: white;
  cursor: pointer;
}

.table-page {
  background: #f9fafc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-table {
  width: 90%;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.wrap-table {
  padding: 20px;
}

.container-header, .row {
  display: grid;
  grid-template-columns: 80px 1.5fr 2fr 1fr 1fr 50px;
  align-items: center;
  padding: 12px 15px;
}

.container-header {
  background: #f9fafc;
  border-bottom: 2px solid #e0e0e0;
}

.column {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  padding: 10px;
}

.container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 15px;
}

.row:hover {
  background: #f5f5f5;
}

.section {
  color: #6c757d;
  padding: 5px;
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  color: #6c757d;
  background: #f9fafc;
}

.results {
  font-weight: 500;
}

.select-pages {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.select-box {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  background: white;
  cursor: pointer;
}
